streamlit==1.44.1
python-dotenv==1.0.1
pdfplumber==0.11.5
ollama==0.4.8
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-text-splitters==0.3.8
langchain-ollama==0.3.1
faiss-cpu==1.10.0
pypdf==5.4.0
